.App {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 20%;
  gap: 1rem;
}

.cv-contents {
  flex: 20 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: flex-start;
  gap: 2rem;
}

.buttons-container {
  flex: 1 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  width: auto;
}

#form-general {
  display: flex;
  flex-direction: column;
}

#general-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.editMode:hover {
  background-color: lightcyan;
  border-radius: 2px;
}

.submittedMode {
  border: none;
  color: black;
  background-color: white;
  border-bottom: 1px solid white;
}

.editMode {
  border: none;
  border-bottom: 1px solid black;
}

.exp-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}

.task-wrapper {
  flex: 4 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-info-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-description-wrapper {
  flex: 9 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.task-description-wrapper > * {
  margin-left: 1rem;
  padding: 0 1rem;
}

.task-description-list {
  width: 100%;
}

.input-exp-title {
  flex: 1 0 auto;
}

.input-exp-company {
  flex: 1 0 auto;
  font-weight: bold;
}

.input-exp-desc {
  width: 100%;
}

.date-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 2px;
}

.date-start {
  text-align: right;
  width: 5rem;
}

.date-end {
  text-align: left;
  width: 5rem;
}

ul {
  margin: 0;
}

.ed-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}

.ed-info-wrapper {
  flex: 6 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.input-school {
  flex: 1 0 auto;
  font-weight: bold;
}

.input-major {
  flex: 1 0 auto;
}